body{
    background-image: url(https://cdn.pixabay.com/photo/2023/01/17/05/33/star-wars-7723785_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color:#FFFF00;
}
.boton-fav{
    background-color: #FFFF00;
}